NODE_ENV=githib
PORT=4000
MONGODB_URI=mongodb:///////////////////////////:tGhSsX9PNzKcXaGE@ac-ysxspvu-shard-00-00.dme3vak.m**********
BCRYPT_SALT_ROUNDS=10


JWT_SECRET=***********
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=*********
REFRESH_TOKEN_EXPIRES_IN=7d


CLOUDINARY_CLOUD_NAME=molf0kqr
CLOUDINARY_API_KEY=*********
CLOUDINARY_API_SECRET=hhhhhhhhhhhhhhhhhhhhhhh
CLOUDINARY_ROOT_FOLDER=snd-dev

usernamemongo=*****
passmongodb=///**********