NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://odaysaad2003_db_user:<PASSWORD>@ac-ysxspvu-shard-00-00.dme3vak.mongodb.net:27017,ac-ysxspvu-shard-00-01.dme3vak.mongodb.net:27017,ac-ysxspvu-shard-00-02.dme3vak.mongodb.net:27017/?ssl=true&replicaSet=atlas-iccid9-shard-0&authSource=admin&appName=SND-CORE-MIDE
JWT_SECRET=change_me_in_env_never_commit_real_secret
JWT_EXPIRES_IN=15m
CORS_ORIGIN=http://localhost:3000
BCRYPT_SALT_ROUNDS=10


